## Pandas

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import matplotlib.pyplot as pl

In [7]:
data_set = pd.read_csv('group.csv')

In [8]:
data_set

                       group_name    group_owner  group_code
0                  Administrators       sysadmin       100.0
1                   High Teachers     HSTeachers       101.0
2                 Middle Teachers     MSTeachers       102.0
3             Elementary Teachers  Elem Teachers       103.0
4              1st Grade Teachers       1stgrade       104.0
5              2nd Grade Teachers       2nsgrade       105.0
6              3rd Grade Teachers       3rdgrade       106.0
7             Guidance Department       guidance       107.0
8                   Math Teachers        HS Math       108.0
9                English Teachers      HSEnglish       109.0
10             8th Grade Teachers       8thgrade       110.0
11             7th Grade Teachers       7thgrade       111.0
12             Elementary Parents        Parents       112.0
13          Middle School Parents      MSParents       113.0
14  High School Parents HSParents            114         NaN

In [ ]:
ts = pd.Series(np.random.randn(1000), 
               index=pd.date_range('1/1/2000', periods=1000))
ts.plot()